{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-transform-decorators-legacy",
    "transform-runtime",
    ["module-resolver", {
      "root": [".", "./src"]
    }]
  ]
}
