{
  "presets": [["env", { "modules": false }], "react"],
  "plugins": [
    "external-helpers",
    "transform-runtime",
    "transform-object-rest-spread",
    "babel-plugin-transform-decorators-legacy",
    ["module-resolver", {
      "root": [".", "./src"]
    }]
  ]
}
