{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-transform-decorators-legacy",
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "css": "./css"
      }
    }]
  ],
  "env": {
    "build": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "components": "./src/components",
            "helpers": "./src/helpers",
            "reducers": "./src/reducers",
            "services": "./src/services",
            "images": "./src/images",
            "css": "./css"
          }
        }]
      ]
    }
  }
}
