.c-we-columnbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 22px;
  background-color: $color-blue-turquoise;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  color: $color-white;
  border-radius: 15px;
  padding: 3px 7px;
  cursor: grab;
  white-space: nowrap;

  &.-dimmed {
    opacity: 0.5;
  }

  button {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .c-we-icon {
    fill: $color-white;
    flex-shrink: 0;
  }

  .column-type {
    margin-right: 5px;
  }

  .column-name {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .close-button {
    margin-left: 5px;
  }

  .configure-button {
    margin-left: 5px;
  }


  .aggregate-function {
    margin-left: 6px;
    color: $color-grey;
  }

  .order-by {
    margin-left: 10px;
    color: $color-grey;
  }
}
