.c-we-legend-map {
  position: absolute;
  bottom: 35px;
  right: 30px;
  width: 80%; // Limit the width for mobile devices
  max-width: 300px;
  z-index: 2;

  .c-we-embed-widget & {
    right: $margin-size-extra-small;
  }

  @media screen and (min-width: 1080px) {
    width: 100%;
    min-width: 400px;
  }
}

