.c-we-widget-editor {
  display: flex;
  position: relative;
  margin: 20px 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $ui-bg-color;

  .customize-visualization {
    position: relative;
    min-height: 690px;
    max-height: 740px;
    margin: -20px 0;
    flex-basis: 522px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 5px;
    border: 1px solid $border-color-1;
    box-shadow: 0 1px 2px 0 rgba($color-black, .09);
    background-color: $base-bg-color;

    &.-contracted {
      flex-basis: 0;

      > .content {
        display: none;
      }
    }

    > .btn-toggle {
      position: absolute;
      bottom: 35px;
      right: 0;
      width: 30px;
      height: 40px;
      padding: 0;
      transform: translateX(100%);
      border: 1px solid $border-color-1;
      border-left: none;
      border-radius: 0 2px 2px 0;
      box-shadow: 0 1px 2px 0 rgba($color-black, .09);
      background-color: $base-bg-color;
      cursor: pointer;
      z-index: 1000;

      // Hack to hide the box-shadow on the left
      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background: $base-bg-color;
        content: '';
      }

      &:hover {
        .c-we-icon {
          fill: $base-font-color;
        }
      }

      &.-contracted {
        .c-we-icon {
          transform: translate(calc(-50% + 1px), -50%) rotate(180deg);
        }
      }

      .c-we-icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 15px;
        transform: translate(calc(-50% - 1px), -50%);
        fill: rgba($base-font-color, .7);
        transition: fill $animation-time-2 $ease-in-out-sine;
      }
    }

    > .content {
      padding: #{$margin-size-small - 5px};

    > .title {
      color: $color-dark-pink;
      font-weight: $font-weight-light;
    }

    .visualization-type-buttons {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      button {
        height: 45px;
        width: 140px;
        border-radius: 4px;
        border: 1px solid rgba(202,204,208,0.85);
        font-size: $font-size-default;
        background-color: $color-white;

        &:not(:last-child) {
          margin-right: 20px;
        }
        &.-active {
          border: 2px solid $color-dark-pink;
          color: $color-dark-pink;
        }
      }
    }
    }
  }

  .visualization {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-basis: 100%;
    overflow-x: hidden;
    padding: #{$margin-size-extra-small + 25px} 35px $margin-size-extra-small;
    padding-right: 0;

    &.-error {
      text-align: center;

      span {
        display: block;
        margin-top: 10px;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
      }
    }

    > .c-we-chart {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-top: 80px; // Space for the title and caption

      .chart {
        // The height will be set either by VegaChart or Vega itself
        height: auto;
        overflow-x: auto;

        // Prevent the widgets from ever-growing after
        // some resizes
        canvas {
          display: block;
        }

        .vega {
          // We can't use display: flex; here otherwise
          // the user won't be able to see all of the
          // widgets with scrolling (especially the left
          // hand side which will be cut)
          text-align: center;
        }
      }
    }

    > .c-we-table {
      padding-top: 75px; // Space for the title and caption
    }

    iframe {
      width: 100%;
      height: 100%;
      padding-top: 20px; // Space between the iframe and the title
    }

    .chart-title {
      max-width: calc(100% - 250px); // Avoid the title to overlap the legend (when collapsed)
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 2; // At least 2 to be on top of the map
      font-family: $body-font-family;

      > div { // Override a property of the library
        display: block !important;

        &:first-of-type {
          font-size: $font-size-big;
        }

        &:not(:first-of-type) {
          margin-top: 10px;
        }
      }

      input {
        box-sizing: border-box !important;
        min-width: 340px;
        max-width: 100%; // Make the input respect its container width
        padding: 10px 15px;
        border: 1px solid $border-color-2;
        border-radius: 4px;
        font-family: $body-font-family;
        font-size: $font-size-medium;
      }
    }

    // Share button of the map
    .share-button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 90px;
      right: 30px;
      width: 30px;
      height: 30px;
      background-color: $color-white;
      border-radius: 3px;
      cursor: pointer;
      z-index: 999;

      &:hover {
        background-color: mix($color-primary, $color-white, 5%);
      }

      a {
        color: $color-white;
      }

      svg {
        fill: $color-black;
      }
    }
  }
}
